<MudPaper Class="w100 pa-1 overflow-y-scroll d-flex flex-column relative" Style="@GetPanelStyle()" data-test-id="consolePanel">
	<MudIconButton Icon="@(IsShowing ? MudBlazor.Icons.Material.Filled.ArrowDropDown : MudBlazor.Icons.Material.Filled.ArrowDropUp)" 
				   Class="absolute" 
				   Style="@GetButtonStyle()" 
				   Size="Size.Small" 
				   OnClick="@(() => IsShowing = !IsShowing)"
				   data-test-id="@(IsShowing ? "collapseConsoleButton" : "showConsoleButton")"></MudIconButton>

	<MudTabs Elevation="0" Rounded="false" Class="w100 h100 consoleTabs" Style="@GetTabsStyle()">
		<MudTabPanel Text="Console Output" Class="consoleOutputTab">
			<div class="w100 h100 overflow-y-scroll d-flex flex-column-reverse">
				@foreach (var line in Lines.Reverse())
				{
					<span class="w100 consoleLine">@line</span>
				}
			</div>
		</MudTabPanel>
		<MudTabPanel Text="Debug Callbacks" Class="debugCallbacksTab">
			<div class="w100 h100 overflow-y-scroll d-flex flex-column-reverse">
				@foreach (var callback in DebugCallbacks.Reverse())
				{
					<span class="w100 debugCallbackLine">@callback</span>
				}
			</div>
		</MudTabPanel>
	</MudTabs>
</MudPaper>
