@inject IDialogService DialogService
@inject ISnackbar Snackbar

<MudDialog>
    <DialogContent>
        <div style="height: 50vh; width: 100%; display: flex; flex-direction: column">
            <MudText Typo="Typo.h2">@Method.Name</MudText>
            
            <div style="display: flex; gap: 8px; margin: 8px 0;">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AddParameter" Class="px-8" data-test-id="add-parameter">Add parameter</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="ShowReturnTypeEdit" Class="px-8" data-test-id="change-return-type">Change return type</MudButton>
            </div>

            <MudDataGrid Items="Method.Parameters" EditMode="DataGridEditMode.Cell" ReadOnly="false" Class="w100 flex-1">
                <Columns>
                    <TemplateColumn Title="Type" Editable="false">
                        <CellTemplate>
                            <div style="display: grid; grid-template-columns: 1fr auto; align-items: center; width: 100%">
                                <MudText>@context.Item.ParameterType.FriendlyName</MudText>
                                <div style="justify-self: end;">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => ShowParameterTypeEdit(context.Item)"></MudIconButton>
                                </div>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>

                    <CallbackSetColumn Property="x => x.Name" SetCallback="(x, name) => x.Rename(name)" Editable="true" data-test-id="param-name-input" />

                    <TemplateColumn Title="IsOut">
                        <EditTemplate>
                            <MudCheckBox T="bool" Value="context.Item?.IsOut ?? false" ValueChanged="@(v => context.Item?.SetIsOut(v))"></MudCheckBox>
                        </EditTemplate>
                    </TemplateColumn>

                    <TemplateColumn Editable="false">

                        <CellTemplate>

                            <div style="display: flex; flex-direction: row">
                                <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="context.Item.MoveUp" Disabled="Method.Parameters.FirstOrDefault() == context.Item"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" OnClick="context.Item.MoveDown" Disabled="Method.Parameters.LastOrDefault() == context.Item"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="context.Item.Remove"></MudIconButton>
                            </div>

                        </CellTemplate>

                    </TemplateColumn>
                </Columns>
            </MudDataGrid>
        </div>

    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">Close</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter]
    IMudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public NodeDev.Core.Class.NodeClassMethod Method { get; set; } = null!;

    void Submit() => MudDialog.Close(DialogResult.Ok(true));

    void AddParameter()
    {
        Method.AddDefaultParameter();
        StateHasChanged();
    }

    private async Task ShowReturnTypeEdit()
    {
        var result = await DialogService.Show<TypeSelectorDialog>("Select Return Type", new()
            {
                [nameof(TypeSelectorDialog.TypeFactory)] = Method.Class.TypeFactory
            }, new DialogOptions()
            {
                FullScreen = false,
                FullWidth = true
            }).Result;

        // Note: ReturnType is readonly in NodeClassMethod, so we can't actually change it
        // This is a limitation of the current API
        Snackbar.Add("Return type changing not yet supported in the API", Severity.Warning);
    }

    private async Task ShowParameterTypeEdit(NodeDev.Core.Class.NodeClassMethodParameter parameter)
    {
        var result = await DialogService.Show<TypeSelectorDialog>("", new()
            {
                [nameof(TypeSelectorDialog.TypeFactory)] = Method.Class.TypeFactory
            }, new DialogOptions()
            {
                FullScreen = false,
                FullWidth = true
            }).Result;

        NodeDev.Core.Types.TypeBase typeBase;
        if (result?.Data is Type type)
            typeBase = Method.Class.TypeFactory.Get(type, null);
        else if (result?.Data is NodeDev.Core.Types.TypeBase t)
            typeBase = t;
        else
            return;

        parameter.ChangeType(typeBase);
    }
}